{% extends "base.html" %}
{% block title %} Membership Trends in {{ val1[0][0] }} | {{ val1[0][3] }}, {{ val1[0][4] }} {% endblock %}
{% block heading %} Membership Trends in {{ val1[0][0] }} | {{ val1[0][3] }}, {{ val1[0][4] }}{% endblock %}
{% block content %}
   <table class="table">
        <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">Street Address</th>
            <th scope="col">Store ID</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Membership Count</th>
        </tr>
        </thead>
        <tbody>
            {% for row in val1 %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
